.container{
    height: 100vh;
}
.btncontainer{
    height: 20%;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap:2%;
}
.journalContainerRed, .journalContainerGreen{
    width: 100%;
    height: fit-content;
    font-size: 15pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: aliceblue;
}

.journalContainerRed{
    background-color: rgb(242, 92, 92);
}

.journalContainerGreen{
    background-color: rgb(70, 197, 155);
}

.coinName,.pnl{
    width: 100%;
    text-align: center;
}

.addjournal{
   height: max-content;
   padding: 2%;
   background-color: rgb(255, 236, 127);
   font-size: 10pt;
   font-weight: 700;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.win{
    height: max-content;
    padding: 2%;
    background-color: rgb(147, 240, 107);
    font-size: 10pt;
    font-weight: 700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

.winRate{
    height: max-content;
    padding: 2%;
    background-color: rgb(107, 233, 240);
    font-size: 10pt;
    font-weight: 700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.lose{
    height: max-content;
    padding: 2%;
    background-color: rgb(250, 94, 94);
    font-size: 10pt;
    font-weight: 700;
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.subContainer{
    padding-top: 2%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20%; 
    justify-content: center;
    row-gap: 8%;
    column-gap: 2%;
}

.buttons{
    width: 100%;
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-wrap: wrap;
}


@media (max-width: 600px) {
    .buttons *{
        margin-top: 5%;
    }
    .subContainer{
        padding-top: 0;
        grid-template-columns: 95%;
        grid-template-rows: 30%;
        justify-content: center;
        row-gap: 8%;
        column-gap: 2%;
    }
     .journalContainerRed, .journalContainerGreen{
        font-size: 18pt;
     }
  }
  