.container{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.PNLChart, .winLoseChart{
    width: 55%;
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
}

.winLoseChart{
    width: 50%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}


